.main-bg {
    background-color: var(--primary-color);
    color: var(--light-gray-color);
}


.white-bg {
    background: var(--primary-color);
    color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

.main-footer {
    display: flex;
    justify-content: center;
    background: black;
    padding-top: 28px;
    padding-bottom: 28px;


}

.main-footer .action {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 20px;

}


body .full-width {
    width: 100%;
    flex: 1 1 100%;
}